DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19IaEhjeVV4QVA5VVVITlhjUUVjX0MiLCJhcGlfa2V5IjoiMDFLQkJLVDVYNFBHVk1SOFg3UENaRFNZS0MiLCJ0ZW5hbnRfaWQiOiIxZDczMGI5MDIzMmU5ZDU5Yjc3NTE3ODQ3MDQ4MWE4MjgyODg4MjkyODMyYTExNTM3OTZlYTM1ODhiNWUzZGM2IiwiaW50ZXJuYWxfc2VjcmV0IjoiOTgwOTc2OGUtZTE0Yy00N2VlLWE4ODktZDhiYmQ5Y2ZkOTRjIn0.O5tGVfSrFlVcGxCm3HcBlyRUaExNcsWbpGLrU3XaxRk"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require"
